* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #212121; */
  padding: 20px;
}

.main {
  min-height: 35rem;
  background-color: #aa7cf6;
  width: 35rem;
  display: flex;
  justify-content: center;
  padding: 30px;
}

input {
  height: 40px;
  width: 200px;
  outline: none;
  padding: 10px;
  border: 0px 0px;

}

input:focus {
  border: 1px solid #aa7cf6;
  border-bottom: 2px solid #aa7cf6;
  border-radius: 10px;
}

button {
  height: 40px;
  width: 100px;
  border-radius: 5px;
  background-color: #aa7cf6;
  border: none;
  color: white;
  cursor: pointer;
}

.center-div {
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: space-around;
  flex-direction: column;
  padding: 25px;
  width: 30rem;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  gap: 20px;
  min-height: 70%;
} 
.search{
  display: flex;
  justify-content: space-evenly;
  /* margin: 10px; */
}
.search-result{
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  align-items: center;
  width: 100%;
 
}




